<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Bits</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
          <a href="/bits/<%= userID %>/new" class="button secondary round w50 w100-sm text-center">New Bit</a>
        </div>

        <p></p>

        <div class="row align-center">
          <form class="form w50 w100-sm">
            <div class="form-item">
              <input type="text" class="search" id="searchBar">
            </div>
          </form>
        </div>

        <div class="row align-center">
          <ul class="unstyled large">
            <% bits.forEach(function(bit) { %>
              <% let starKey = bit.avg %>
                <li>
                  <a href="/bits/<%= bit.user_id%>/<%= bit.joke_id %>">
                    <%= bit.joke_title %>
                  </a>
                  <% if (bit.label) { %>
                    <span class="label upper focus"><%= bit.label %></span>
                    <% } %>
                    <% include ./partials/stars.ejs%>
                </li>
                <% }); %>
          </ul>
        </div>
        <p></p>
  <div class="row align-center">
      <form class ="form w50 w100-sm">

          <div class="form-item">
            <label><center>Label</center></label>
            <div class="append">
              <select id="labelSelect">
              <% labels.forEach((lab) => { %>
                <% if (lab.label) { %>
                <option value="<%= lab.user_id %>">
                  <%= lab.label %>
                </option>
                <% } %>
              <% }); %>
            </select>
              <button class="button outline" id="addSelectButton">+</button>
            </div>
          </div>
      </form>
    </div>
</body>
<% include ./partials/footer.ejs %>

</html>
