<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Bits</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
        <a href="/bits/<%= userID %>/new" class="button secondary round w50 w100-sm text-center">New Bit</a>
      </div>

      <p></p>

      <div class="row align-center">
        <form class="form w50 w100-sm">
          <div class="form-item">
            <input type="text" class="search" id="searchBar">
          </div>
        </form>
      </div>

      <div class="row align-center">
        <ul class="unstyled large">
          <% bits.forEach(function(bit) { %>

              <li>
                <a href="/bits/<%= bit.user_id%>/<%= bit.joke_id %>">
                  <%= bit.joke_title %>
                </a>
                <% if (bit.label) { %>
                  <span class="label upper focus"><%= bit.label %></span>
                  <% } %>

              </li>
              <% }); %>
        </ul>
      </div>
      <p></p>


      <div class="row align-center">
        <form class="form w50 w100-sm">

          <div class="form-item">
            <label><center>Search for Labels</center></label>
            <div class="append">
              <select id="labelSelect">
                  <option value =""></option>
                <% labels.forEach((lab) => { %>
                  <% if (lab.label) { %>
                  <option name="label" value="<%= lab.label_id %>" id="labels">
                    <%= lab.label %>
                  </option>
                  <% } %>
                  <% }); %>
              </select>
            </div>
          </div>

          <div class="form-item">
            <label><center>Create New Label<span class="req" id="newLabelReq"></span></center></label>
            <div class="append">
              <input type="text" name="label" id="newLabel">
              <button class="button" id="submitButton">+</button>
            </div>
        </div>
      </form>
    </div>
</body>
<% include ./partials/footer.ejs %>
  <script src="/static/js/bits.js" type="text/javascript"></script>

</html>
