<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit</title>
</head>

<body id="<%= userID %>">
  <div id="newPer">
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>
    <div class="row align-center">
      <input type="text" name="set-title" class="w95 large" placeholder="Enter a title for this set" id="setTitle">
    </div>
    <div class="row align-center">
      <input type="text" name="set-location" class="w95 large" placeholder="Enter location for set" id="setLocation">
    </div>
    <fieldset id="setOptions">
      <legend id="setOptionsLegend">
        Set Options
      </legend>
      <div class="form-item w65" id="setTimeDiv">
        <label>Allotted Time <span class="req" id="setTimeReq">*</span></label>
        <input type="number" name="set-time" id="setTime">
      </div>
      <div class="form-item w65" id="lightTimeDiv">
        <label>Light Me At</label>
        <input type="number" name="light-time" id="lightTime">
      </div>
<!--      <button class="button round large secondary float-right w50" id="recordButton">Record?</button> --This feature needs fixing. Commenting out for now. -->
    </fieldset>
    <fieldset id="setlistField">
      <legend>
        Setlist
      </legend>
      <form class="form w50 w100-sm">
<!--        <div class="form-item">
          <input type="text" class="search" id="bitSearch" placeholder="Search bits">
        </div> -->
        <div class="form-item">
          <div class="append">
            <select id="bitSelect">
                <option value="">
              <% bits.forEach((bit) => { %>
                <option value="b<%= bit.joke_id %>" id="b<%= bit.joke_id %>">
                  <%= bit.joke_title %><% if (bit.label) { %>
                  (<%= bit.label %>)
                  <% } %>
                </option>
              <% }); %>
            </select>
            <button class="button outline" id="addSelectButton">+</button>
          </div>
        </div>
      </form>
    </fieldset>
    <button class="button large w100" id="startButton">Start</button>
    <p></p>
    <button class="button large secondary w100" value="<%= userID %>" id="ditchButton">Ditch</button>
    <p></p>
  </div>
  <div class="hide" id="livePer">
    <div id="bitHolder"></div>
    <button class="button large w100" id="stopButton">Stop</button>
  </div>
  <div class="hide theLightDiv" id="theLightDiv">
  </div>
</body>

<% include ./partials/footer.ejs %>
<script src="/static/js/binaryjs.js" type="text/javascript"></script>
<script src="/static/js/newPer.js" type="text/javascript"></script>


</html>
