<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Performances</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <h1>Performances</h1>

    <% include ./partials/tabs.ejs %>


      <div class="row align-center">
        <button class="button secondary round w50 w100-sm">New Performance</button>
      </div>
      <p></p>
      <div class="row align-center">
        <form class="form w50 w100-sm">
          <div class="form-item">
            <input type="text" class="search">
          </div>
        </form>
      </div>

      <div class="row align-center">
        <ul class="unstyled large">
          <% pers.forEach((per) => { %>
          <% let perDate = new Date(per.date) %>
          <% let perMonth = perDate.getMonth() + 1; %>
          <% let perYear = perDate.getFullYear(); %>
          <% let perDay = perDate.getDate(); %>
          <% let dateString = `${perMonth}/${perDay}/${perYear}`; %>
          <li><a href="/performances/<%= userID %>/<%= per.per_id %>"><%= per.per_title %> - <%= per.rating %> - <%= dateString %></a></li>
          <% }); %>
        </ul>
      </div>


</body>
<% include ./partials/footer.ejs %>
<script>

</html>
