<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Review Performance</title>
</head>

<body>
  <% let starKey = per[0].rating %>
  <% let perDate = new Date(per[0].date) %>
  <% let dateString = `${perDate.getMonth() + 1}/${perDate.getDate()}/${perDate.getFullYear()}`; %>
  <% include ./partials/bodyHeader.ejs %>
  <% include ./partials/tabs.ejs %>
    <div class="row align-center">
      <h2><%= per[0].per_title %></h2>
      <h2>&nbsp;<%= dateString %></h2>
      <h2>&nbsp;<% include ./partials/stars.ejs %> <a class="muted small noline" id="changeRate">Change Rating</a></h2>
      <% if (per[0].audio) { %>
      <a href="<%= per[0].audio %>" class="button secondary round w50 w100-sm text-center" id="listenButton">Listen</a>
      <% } %>
    </div>
    <div class="row align-center">
      <fieldset>
        <legend>Setlist</legend>
        <dl>
          <% per.forEach((bit) => { %>
            <dt>
              <%= bit.joke_title %>
            </dt>
            <dd>
              <label class="checkbox"><input type="checkbox" id="check<%= bit.joke_id %>" checked> Performed</label>
            </dd>
          <% }); %>
        </dl>
      </fieldset>
    </div>
    <div class="row align-center">
      <button class="button secondary" id="ditchButton" value="/performances/<%= userID %>">Ditch</button>
      <p class="show-sm"></p>
      <button class="redButton" value="/performances/<%= userID %>/<%= per[0].per_id %>" id="deleteButton">Delete</button>
      <p class="show-sm"></p>
      <button value="/performances/<%= userID %>/<%= per[0].per_id %>" id="saveButton">Save</button>
    </div>
</body>
<% include ./partials/footer.ejs %>
<script src="/static/js/reviewPer.js" type="text/javascript"></script>

</html>
