<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header.ejs %>
    <title>Get Bit - Review Bit</title>
</head>

<body>
  <% include ./partials/bodyHeader.ejs %>
    <% include ./partials/tabs.ejs %>

      <div class="row align-center">
        <form class="form w50 w100-sm">
          <% bitObj.forEach(function(bit) { %>
            <% let starKey = bit.avg %>

              <div class="form-item">
                <label>Title</label>
                <input type="title" name="joke_title" id="joke_title" value="<%= bit.joke_title%>" class="w100">
              </div>
              <label>Average Rating</label>
              <% include ./partials/stars.ejs%>
                <p></p>
                <div class="form-item">
                  <label>Body</label>
                  <textarea col="12" row="12" name="body" id="body"><%= bit.body%></textarea>
                </div>


                <div class="form-item">
                  <label>Current Tags</label>
                  <div class="append">
                    <select class="w100" id="tagSelect">

                <% tags.forEach(function(tag) { %>
                  <option name="tag" value="<%= tag.joke_id%>">
                    <%= tag.tag %>
                  </option>
                  <% }); %>
                </select>
                <button class="redButton">Delete</button>
              </div>
              </div>
              <p></p>
              <div class="form-item">
                <label>New Tag<span class="req" id="newTagReq"></span></label>
                <div class="append">
                  <input type="text" name="tag" id="newTag">
                  <button class="button" id="submitButton">+</button>
                </div>
              </div>
            <p></p>
              <div class="form-item">
                <label>Label</label>
                  <div class="append">
                  <select class="w100" id="labelSelect">
          <% }); %>
          <% bitObj.forEach(function(bit) { %>
              <% if (!bit.label) { %>
          <option value="">
                        </option>

              <% } else {%>
              <option value="<%= bit.user_id%>">
                  <%= bit.label %>
              </option>
                      <% }%>
                  <% }); %>
                    <% label.forEach((lab) => { %>

                      <option
                        value="<%= lab.label_id %>" id="label">
                        <%= lab.label %>
                      </option>

                    <% }); %>
                  </select>
                </div>
            </div>
      </div>
    </div>

      </form>

      <div class="row align-center">
        <fieldset>
          <legend>Performances</legend>

          <ul class="unstyled large">
            <% pers.forEach(function(per) { %>
              <% let starKey = per.rating %>
                <li>
                  <a href="/performances/<%= per.user_id%>/<%= per.per_id %>">
                    <%= per.per_title %>
                  </a>
                  <% include ./partials/stars.ejs%>
                </li>
                <% }); %>
          </ul>
      </div>
      </fieldset>

      <div class="row align-center">

        <button class="button secondary" id="ditchButton" value="/bits/<%=userID %>">Ditch</button>

        <p class="show-sm"></p>
        <button class="redButton" value="/bits/<%= userID %>/<%= bitID %>" id="deleteButton">Delete</button>
        <p class="show-sm"></p>
        <button value="" id="saveButton">Save</button>
      </div>

</body>
<% include ./partials/footer.ejs %>
<script src="/static/js/reviewBit.js" type="text/javascript"></script>
</html>
